/*  your css code here. If applicable */
body {
            background-color: #f8f8f8;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
        }

        .book-library {
            background-color: #ffffff;
            padding: 20px;
            max-width: 900px;
            margin: auto;
            border-radius: 10px;
            box-shadow: 0 2px 8px rgba(0,0,0,0.1);
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
			display: block;
        }

        .book {
            width: 250px;
            border: 1px solid #eee;
            border-radius: 10px;
            text-align: center;
            margin: 15px;
            padding: 15px;
            box-shadow: 0 1px 5px rgba(0,0,0,0.1);
        }

         img {
            width: 100%;
            height: 300px;
            object-fit: cover;
            border-radius: 8px;
        }

        h2 {
            margin: 10px 0 5px 0;
            font-size: 18px;
            color: #333;
			text-align: left;
        }

        .author {
            color: #777777;
            margin: 5px 0;
            font-size: 14px;
			text-align: left;
        }

        .price {
            background-color: #2ecc71;
            font-weight: bold;
            font-size: 16px;
			color: white;
        }
